.welcome{
    border: 3px solid red;
    padding-left: 550px;

}

.salutations{
    color : rgb(228, 15, 15);
}

.other{
    padding-left: 150px;
}

body{
    /*Couleur de fond : */
    background-color: rgb(15, 1, 1) (0, 34, 128);
}

.carre {
    position: absolute;
    width:50px;
    height:50px;
    background-color:red;
    left: 50px;
}