.welcome{
    border: 3px solid red;
    padding-left: 550px;

}

.salutations{
    color : rgb(228, 15, 15);
}

.other{
    padding-left: 150px;
}

body{
    /*Couleur de fond : */
    background-color: rgb(0, 34, 128);
}